version: '3.7'
services:
  redis:
    image: redis
    volumes:
      - redisdata:/data
    expose:
      - 6379

  # The Application
  app:
    build:
      context: ./
      dockerfile: docker/app.dockerfile
    working_dir: /var/www/html
    depends_on:
      - database
      - nodejs
    volumes:
      - ./:/var/www/html
    env_file:
      - docker/.env.docker
  nodejs:
    build:
      context: ./
      dockerfile: docker/node.dockerfile
    working_dir: /var/www/html
    volumes:
      - ./:/var/www/html
      - ./node_modules:/var/www/node_modules
  # The Web Server
  web:
    image: nginx:latest
    ports:
      - 8000:80
    volumes:
      - .:/var/www/html
      - ./docker/vhost.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app

  # The Database
  database:
    image: mysql:5.6
    volumes:
      - dbdata:/var/lib/mysql
    environment:
      - MYSQL_ROOT_PASSWORD=portail
      - MYSQL_DATABASE=portail

volumes:
  dbdata:
  redisdata: