@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);/*
|--------------------------------------------------------------------------
|                           Variables
|--------------------------------------------------------------------------
| Variables should follow the `$component-state-property-size` formula for
| consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.
| Following is a summary of the variables.
|
| Color System > Quick Options > Spacing > Body > Links > Paragraphs > Grid breakpoints > Grid containers > Grid columns
| > Components > Fonts > Tables > Buttons + Forms > Buttons > Forms > Dropdowns > Z-index master list > Navs > Navbar
| > Pagination > Jumbotrom > Cards > Tooltips > Popovers > Badges > Modals > Alerts > Progress bars > List group
| > Image thumbnails > Figures > Breadcrumbs > Carousel > Close > Code > Printing > 
*/

/*
|--------------------------------------------------------------------------
|  Color System
|--------------------------------------------------------------------------
*/

/*
|--------------------------------------------------------------------------
|  Quick Options
|--------------------------------------------------------------------------
| Quickly modify global styling by enabling or disabling optional features.
*/

/*
|--------------------------------------------------------------------------
|  Spacing
|--------------------------------------------------------------------------
| Control the default styling of most Bootstrap elements by modifying these
| variables. Mostly focused on spacing.
| You can add more entries to the $spacers map, should you need more variation.
*/

/*
|--------------------------------------------------------------------------
|  Body
|--------------------------------------------------------------------------
| Settings for the `<body>` element.
*/

/*
|--------------------------------------------------------------------------
|  Links
|--------------------------------------------------------------------------
| Style anchor elements.
*/

/*
|--------------------------------------------------------------------------
|  Paragraphs
|--------------------------------------------------------------------------
| Style p element.
*/

/*
|--------------------------------------------------------------------------
|  Grid breakpoints
|--------------------------------------------------------------------------
| Define the minimum dimensions at which your layout will change,
| adapting to different screen sizes, for use in media queries.
*/

/*
|--------------------------------------------------------------------------
|  Grid containers
|--------------------------------------------------------------------------
| Define the maximum width of `.container` for different screen sizes.
*/

/*
|--------------------------------------------------------------------------
|  Grid columns
|--------------------------------------------------------------------------
| Set the number of columns and specify the width of the gutters.
*/

/*
|--------------------------------------------------------------------------
|  Components
|--------------------------------------------------------------------------
| Define common padding and border radius sizes and more.
*/

/*
|--------------------------------------------------------------------------
|  Fonts
|--------------------------------------------------------------------------
| Font, line-height, and color for body text, headings, and more.
*/

/*
|--------------------------------------------------------------------------
|  Tables
|--------------------------------------------------------------------------
| Customizes the `.table` component with basic values, each used across all table variations.
*/

/*
|--------------------------------------------------------------------------
|  Buttons + Forms
|--------------------------------------------------------------------------
| Shared variables that are reassigned to `$input-` and `$btn-` specific variables.
*/

/*
|--------------------------------------------------------------------------
|  Buttons
|--------------------------------------------------------------------------
| For each of Bootstrap's buttons, define text, background, and border color.
*/

/*
|--------------------------------------------------------------------------
|  Forms
|--------------------------------------------------------------------------
*/

/*
|--------------------------------------------------------------------------
|  Dropdowns
|--------------------------------------------------------------------------
| Dropdown menu container and contents.
*/

/*
|--------------------------------------------------------------------------
|  Z-index master list
|--------------------------------------------------------------------------
| Warning: Avoid customizing these values. They're used for a bird's eye view
| of components dependent on the z-axis and are designed to all work together.
*/

/*
|--------------------------------------------------------------------------
|  Navs
|--------------------------------------------------------------------------
*/

/*
|--------------------------------------------------------------------------
|  Navbar
|--------------------------------------------------------------------------
*/

/*
|--------------------------------------------------------------------------
|  Pagination
|--------------------------------------------------------------------------
*/

/*
|--------------------------------------------------------------------------
|  Jumbotrom
|--------------------------------------------------------------------------
*/

/*
|--------------------------------------------------------------------------
|  Cards
|--------------------------------------------------------------------------
*/

/*
|--------------------------------------------------------------------------
|  Tooltips
|--------------------------------------------------------------------------
*/

/*
|--------------------------------------------------------------------------
|  Popovers
|--------------------------------------------------------------------------
*/

/*
|--------------------------------------------------------------------------
|  Badges
|--------------------------------------------------------------------------
*/

/*
|--------------------------------------------------------------------------
|  Modals
|--------------------------------------------------------------------------
*/

/*
|--------------------------------------------------------------------------
|  Alerts
|--------------------------------------------------------------------------
| Define alert colors, border radius, and padding.
*/

/*
|--------------------------------------------------------------------------
|  Progress bars
|--------------------------------------------------------------------------
*/

/*
|--------------------------------------------------------------------------
|  List group
|--------------------------------------------------------------------------
*/

/*
|--------------------------------------------------------------------------
|  Image thumbnails
|--------------------------------------------------------------------------
*/

/*
|--------------------------------------------------------------------------
|  Figures
|--------------------------------------------------------------------------
*/

/*
|--------------------------------------------------------------------------
|  Breadcrumbs
|--------------------------------------------------------------------------
*/

/*
|--------------------------------------------------------------------------
|  Carousel
|--------------------------------------------------------------------------
*/

/*
|--------------------------------------------------------------------------
|  Close
|--------------------------------------------------------------------------
*/

/*
|--------------------------------------------------------------------------
|  Code
|--------------------------------------------------------------------------
*/

/*
|--------------------------------------------------------------------------
|  Printing
|--------------------------------------------------------------------------
*/

html {
  overflow: hidden;
}

body {
  padding-top: 60px;
  background: #fff;
}

html,
body,
main,
#root {
  height: 100%;
}

main {
  background-color: #fff;
}

.navbar {
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.sidebar {
  min-width: 250px;
  overflow: auto;
  padding: 1rem 0;
  background: #F4F5F7;
}

.sidebar-inner {
  padding: 0 1rem;
}

.sidebar-group {
  margin-bottom: 1rem;
}

.sidebar-header {
  color: #6c757d;
  font-weight: 700;
  font-size: 0.765625rem;
  margin-bottom: 0.25rem;
}

.sidebar-link {
  color: #3c3746;
  display: block;
  margin-top: 1px;
  margin-bottom: 1px;
  padding: 5px 10px;
  border-radius: 3px;
}

.sidebar-link:hover {
  color: #000;
  background-color: #fff;
  text-decoration: none;
}

.sidebar-link.active {
  background-color: #fff;
}

.sidebar-link i {
  width: 20px;
  text-align: center;
  margin-right: 0.5rem;
}

.sidebar-footer {
  margin-top: auto;
  margin-bottom: 0;
  text-align: center;
}

.passport-authorize .container {
  margin-top: 30px;
}

.passport-authorize .scopes {
  margin-top: 20px;
}

.passport-authorize .buttons {
  margin-top: 25px;
  text-align: center;
}

.passport-authorize .btn {
  width: 125px;
}

.passport-authorize .btn-approve {
  margin-right: 15px;
}

.passport-authorize form {
  display: inline;
}

.drop-shadow {
  -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
}

