@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);@charset "UTF-8";

body {
  margin-top: 75px;
  margin-bottom: 33px;
  /* dégeu */
  overflow-x: hidden;
}

main {
  height: 100%;
}

.navbar {
  position: fixed;
  width: 100%;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.passport-authorize .container {
  margin-top: 30px;
}

.passport-authorize .scopes {
  margin-top: 20px;
}

.passport-authorize .buttons {
  margin-top: 25px;
  text-align: center;
}

.passport-authorize .btn {
  width: 125px;
}

.passport-authorize .btn-approve {
  margin-right: 15px;
}

.passport-authorize form {
  display: inline;
}

