.assosContainer {
	margin: 10px 3px;
	text-align: center;
}
.searchContainer {
	text-align: center;
	width: 100%;
	margin-bottom: 20px;
}

.searchContainer .searchBar {
	display: inline-flex;
	justify-content: flex-end;
	border-radius: 10px;
	box-shadow: 0 10px 48px -9px rgba(0,0,0,0.23);
	height: 50px;
	width: 80%;
	max-width: 500px;
	margin: 20px;
}

.searchContainer .filterBar {
    overflow-y: auto;
    max-width: 80%;
    margin: auto;
}

.searchContainer .searchBar .searchInput {
	border: none;
	padding: 10px;
	border-radius: 10px;
	display: block;
	outline: none;
	width: 100%;
	max-width: 500px;
}
.searchContainer .searchBar .searchIcon {
	border: none;
	padding: 10px;
	border-radius: 10px;
	display: block;
	outline: none;
	width: 100%;
	max-width: 500px;
}

.ArticleList .Article:not(:last-child) {
	border-bottom: 1px solid $gray-light;
}

.Article .body .articleContent a{
	text-decoration: underline;
}

.asso-card {
	vertical-align: top;
	width: 200px;
	height: 300px;
	margin: 10px;
	border-radius:10px;
	cursor: pointer;
	box-shadow: 0 10px 48px -9px rgba(0,0,0,0.23);
	display: inline-block;
	white-space: normal;
}
.asso-card:hover{
	box-shadow: 0 5px 48px -1px rgba(0,0,0,0.23);
}

.thumbnail {
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 200px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	display: table;
}

.asso-card:hover>.thumbnail>.overlay {
	visibility: visible;
}

.asso-card .thumbnail .overlay {
	display: flex;
	visibility: hidden;
	width: 100%;
	height: 200px;
	padding: 10%;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	vertical-align: middle;
	text-align: center;
	word-wrap: break-word;
	color: white;
	font-size: 20px;
	overflow-y: auto;
}
.asso-card .thumbnail .overlay > div {
	margin: auto;
}
.asso-card .thumbnail .overlay.bde{
	background-color: rgba($bde, 0.8);
}
.asso-card .thumbnail .overlay.poleae{
	background-color: rgba($poleae, 0.8);
}
.asso-card .thumbnail .overlay.polesec{
	background-color: rgba($polesec, 0.8);
}
.asso-card .thumbnail .overlay.polete{
	background-color: rgba($polete, 0.8);
}
.asso-card .thumbnail .overlay.polevdc{
	background-color: rgba($polevdc, 0.8);
}

.name-container{
	height: 100px;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.name-container .asso-shortname{
	text-align: center;
	word-wrap: break-word;
	margin: 5%;
	width: 90%;
	font-size: 20px;
}

.asso-card .card-line{
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	position: relative;
	height: 12px;
	width: 100%;
	bottom: 10px;
}

.bg-black {
    background-color: rgba(0, 0, 0, 0.7) !important;
}

.bg-bde {
	background-color: rgba($bde, 0.7) !important;
}

.bg-poleae {
	background-color: rgba($poleae, 0.7) !important;
}

.bg-polesec {
	background-color: rgba($polesec, 0.7) !important;
}

.bg-polete {
	background-color: rgba($polete, 0.7) !important;
}

.bg-polevdc {
	background-color: rgba($polevdc, 0.7) !important;
}
