.asso {
	position: relative;
	padding-top: 44px;
	overflow-y: auto;

	.nav.nav-tabs.asso {
		overflow-y: visible;
		border: none;
		position: fixed;
		margin-top: 0;
		transform: translateY(-100%);
		z-index: 100;
		width: 100%;

		.nav-item {
			border: none;
			margin-bottom: 0;

			&.dropdown {
				.dropdown-menu {
					z-index: 9999 !important;
					width: 200px;
				}
			}

			.nav-link {
				border: none;
				border-radius: 0;
				color: white;
				font-size: .85rem;
				font-weight: bold;
				padding: 12px 40px;
				transition: background-color .1s;

				&:hover {
					background-color: rgba(0, 0, 0, .2);
				}

				&.admin {
					background-color: $red;
				}

				&.active {
					color: black;
					background-color: white;
				}
			}
		}
	}
}

.ArticleList .Article:not(:last-child) {
	border-bottom: 1px solid $gray-light;
}


.pole-container{
	vertical-align: top;
	text-align: center;
	border-radius: 10px;
	border-color: black;
	margin: 20px;
	padding: 15px;
	box-shadow: 0 10px 48px -10px rgba(0,0,0,0.23);
}
.pole-container h2{
	font-size: 30px;
}

.pole-container > div {
	overflow-x: auto;
	white-space: nowrap;
	border-radius: 10px;
	padding: 15px;
}

.asso-card{
	vertical-align: top;
	width: 200px;
	height: 300px;
	margin: 10px;
	border-radius:10px;
	cursor: pointer;
	box-shadow: 0 10px 48px -9px rgba(0,0,0,0.23);
	display: inline-block;
	white-space: normal;
}
.asso-card:hover{
	box-shadow: 0 5px 48px -1px rgba(0,0,0,0.23);
}

.thumbnail{
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 66%;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	display: table;
}
.asso-card:hover > .thumbnail > .overlay{
	visibility: visible;
}
.asso-card .thumbnail .overlay{
	visibility: hidden;
	width:100%;
	height:100%;
	padding: 10%;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	word-wrap: break-word;
	color: white;
	font-size: 20px;
}
.asso-card .thumbnail .overlay.bde{
	background-color: rgba($bde, 0.8);
}
.asso-card .thumbnail .overlay.poleae{
	background-color: rgba($poleae, 0.8);
}
.asso-card .thumbnail .overlay.polesec{
	background-color: rgba($polesec, 0.8);
}
.asso-card .thumbnail .overlay.polete{
	background-color: rgba($polete, 0.8);
}
.asso-card .thumbnail .overlay.polevdc{
	background-color: rgba($polevdc, 0.8);
}

.name-container{
	 height: 100px;
	 width: 100%;
	 display: table;
 }

.name-container .asso-shortname{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	word-wrap: break-word;
	margin: 5%;
	width: 90%;
	font-size: 20px;
}

.asso-card .card-line{
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	position: relative;
	height: 12px;
	width: 100%;
	bottom: 10px;
}
.asso-card .card-line.bde{
	background-color: rgba($bde, 0.7);
}
.asso-card .card-line.poleae{
	background-color: rgba($poleae, 0.7);
}
.asso-card .card-line.polesec{
	background-color: rgba($polesec, 0.7);
}
.asso-card .card-line.polete{
	background-color: rgba($polete, 0.7);
}
.asso-card .card-line.polevdc{
	background-color: rgba($polevdc, 0.7);
}