.btn.btn-secondary {
    background: $light-gray;
    border: none;
    border-radius: $border-radius;
    color: black;
    font-weight: 600;
    box-shadow: none;

    &:hover {
        background: $dark-gray;
    }
}

.btn-link {
	color: $gray-600;
}