button.btn {
    font-weight: 600;
}

.btn.btn-secondary {
    background: $light-gray;
    border: none;
    border-radius: $border-radius;
    color: black;
    box-shadow: none;

    &:hover {
        background: $dark-gray;
    }
}

.btn-link {
	color: $gray-600;
}

.btn-reinit {
    margin-right: auto !important;
}
