body {
	margin-top: $navbar-min-height;
    background: $white;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    overflow-y: auto;
}

main {
    flex: auto;
	background-color: $white;
    overflow: hidden;
}

@media screen and (min-width: 768px) {
    main {
        margin-left: 250px;
    }
}

.container {
	overflow-x: hidden;
}

.content {
  	flex: 1 1 auto;
  	min-height: 0px;
	max-width: auto;
}

h1, h2, h3, h4, h5, h6 {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

/*
|--------------------------------------------------------------------------
|	List
|--------------------------------------------------------------------------
*/

.list-row {
	padding: 0;
	margin-bottom: map-get($spacers, 1);
	overflow-x: auto;
	flex-wrap: nowrap;
}

.list-item,
.list-header {
	display: block;
}
.list-subitem {
	font-size: 0.9em;
	padding-left: map-get($spacers, 2);
}

.list-header {
	font-weight: bold;
	margin-bottom: map-get($spacers, 1);
}

.list-header,
.list-link {
	color: $body-color;
	&:hover {
		color: $primary;
	}
}

// Notifications
.notification-container {
	padding: 15px !important;
	top: auto !important;
	bottom: 0 !important;
}

.rbc-toolbar {
    overflow-y: auto;
}

.nav-container {
	position: relative;
	margin-top: 55px;

	.nav.nav-tabs {
        overflow-y: visible;
        overflow-x: auto;
		border: none;
		position: fixed;
		margin-top: -55px;
        height: 45px;
		z-index: 100;
        background-color: rgba(0, 0, 0, .3);
		width: 100%;

		.nav-item {
			border: none;
            height: 45px;
			margin-bottom: 0;

			&.dropdown {
				.dropdown-menu {
					z-index: 9999 !important;
					width: 200px;
				}
			}

			.nav-link {
				border: none;
				border-radius: 0;
				color: white;
				font-size: .85rem;
				font-weight: bold;
                height: 45px;
				padding: auto !important;
                white-space: nowrap;
				transition: background-color .1s;
                background-color: rgba(0, 0, 0, .3);

				&:hover {
					background-color: rgba(0, 0, 0, .5);
				}

				&.admin {
					background-color: $red;
				}

				&.active {
					color: black;
					background-color: white;
				}
			}
		}
	}
}

.top-right-button {
    position: absolute;
    float: right !important;
    right: 15%;
    width: 85px;
    top: 12px;
}
