html {
	overflow: hidden;
}

body {
	padding-top: $navbar-min-height;
    background: $white;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

html, body, main, #root {
	height: 100%;
}

main {
	background-color: $white;
	overflow: auto;
}

.container {
	min-width: 75%;
	overflow-x: hidden;
}

.content {
  	flex: 1 1 auto;
	overflow-y: auto;
  	overflow-x: hidden;
  	min-height: 0px;
	max-width: auto;
}

h1, h2, h3, h4, h5, h6 {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

/*
|--------------------------------------------------------------------------
|	List
|--------------------------------------------------------------------------
*/

.list-row {
	padding: 0;
	margin-bottom: map-get($spacers, 1);
	overflow-x: auto;
	flex-wrap: nowrap;
}

.list-item,
.list-header {
	display: block;
}
.list-subitem {
	font-size: 0.9em;
	padding-left: map-get($spacers, 2);
}

.list-header {
	font-weight: bold;
	margin-bottom: map-get($spacers, 1);
}

.list-header,
.list-link {
	color: $body-color;
	&:hover {
		color: $primary;
	}
}

// Notifications
.notification-container {
	padding: 15px !important;
	top: auto !important;
	bottom: 0 !important;
}
