.bg-bde {
    background-color: $bde;
}
.bg-poleae {
    background-color: $poleae;
}
.bg-polesec {
    background-color: $polesec;
}
.bg-polete {
    background-color: $polete;
}
.bg-polevdc {
    background-color: $polevdc;
}

.color-bde {
    color: $bde;
}
.color-poleae {
    color: $poleae;
}
.color-polesec {
    color: $polesec;
}
.color-polete {
    color: $polete;
}
.color-polevdc {
    color: $polevdc;
}

.border-bde {
    border: SOLID $bde;
}
.border-poleae {
    border: SOLID $poleae;
}
.border-polesec {
    border: SOLID $polesec;
}
.border-polete {
    border: SOLID $polete;
}
.border-polevdc {
    border: SOLID $polevdc;
}
