.bg-bde {
    background-color: $bde;
}
.bg-pae {
    background-color: $pae;
}
.bg-psec {
    background-color: $psec;
}
.bg-pte {
    background-color: $pte;
}
.bg-pvdc {
    background-color: $pvdc;
}

.color-bde {
    color: $bde;
}
.color-pae {
    color: $pae;
}
.color-psec {
    color: $psec;
}
.color-pte {
    color: $pte;
}
.color-pvdc {
    color: $pvdc;
}