/* UI */

// Primary
$red: #FF5630;
$yellow: #FFAB00;
$green: #36B37E;
$blue: #00B8D9;
$purple: #6554C0;

// Grays
$light-gray: #F4F5F7;
$dark-gray: #DFE1E6;
$darker-gray: #C1C7D0;


/* */

// Pôles colors
$bde: #77787B;
$pae: #F27941;
$psec: #8EC449;
$pte: #1DAFEC;
$pvdc: #FED43B;

$border-radius: .25rem;